einops==0.8.0
local-attention==1.11.1
matplotlib==3.10.0
numpy==2.2.2
pandas==2.2.3
patool==3.1.0
reformer-pytorch==1.4.4
scikit-learn==1.6.1
scipy==1.15.1
sktime==0.36.0
sympy==1.13.1
torch==2.7.1
tqdm==4.67.1
PyWavelets==1.8.0
timm==1.0.15
# mamba-ssm==2.2.4   # install manually when using ti1080 since it gets error with lower nvcc version
# causal-conv1d==1.5.0.post8  # install manually when using ti1080 since it gets error with lower nvcc version